#define base00 #537894
#define base01 #ffffff
#define base02 #ffffff
#define base03 #ffffff
#define base04 #ffffff
#define base05 #ffffff
#define base06 #ffffff
#define base07 #ffffff
#define base08 #ffffff
#define base09 #ffffff
#define base0A #ffffff
#define base0B #ffffff
#define base0C #ffffff
#define base0D #ffffff
#define base0E #ffffff
#define base0F #ffffff

*.foreground:   base05
#ifdef background_opacity
*.background:   [background_opacity]base00
#else
*.background:   base00
#endif
*.cursorColor:  base05
*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05
*.color8:       base03
*.color9:       base09
*.color10:      base01
*.color11:      base02
*.color12:      base04
*.color13:      base06
*.color14:      base0F
*.color15:      base07

xterm*faceName:                   Terminus
xterm*allowBoldFonts:             false
xterm*faceSize:                   11
xterm*cursorTheme:                Adwaita
xterm*cursorBlink:                true
xterm*geometry:                   50x25
xterm*scrollBar:                  true
xterm*rightScrollBar:             true
xterm*borderColor:                base00
xterm*borderWidth:                0
xterm*internalBorder:             16
xterm*allowTcapOps:               false
xterm.vt100.scrollbar.foreground: base02
xclock*background:                base00
xclock*foreground:                base01
xclock*hands:                     base01
