*.foreground:   $C1
#ifdef background_opacity
*.background:   [background_opacity]$C0
#else
*.background:   $C0
#endif
*.cursorColor:  $C1
*.color0:       $C0
*.color1:       $C1
*.color2:       $C1
*.color3:       $C1
*.color4:       $C1
*.color5:       $C1
*.color6:       $C1
*.color7:       $C1
*.color8:       $C1
*.color9:       $C1
*.color10:      $C1
*.color11:      $C1
*.color12:      $C1
*.color13:      $C1
*.color14:      $C1
*.color15:      $C1

xterm*faceName:                   $FN
xterm*allowBoldFonts:             false
xterm*scaleHeight:                1
xterm*cursorTheme:                Adwaita
xterm*cursorBlink:                true
xterm*geometry:                   50x25
xterm*scrollBar:                  false
xterm*rightScrollBar:             true
xterm*borderColor:                $C0
xterm*borderWidth:                0
xterm*internalBorder:             8
xterm*allowTcapOps:               false
xterm.vt100.scrollbar.foreground: $C1

xclock*face:                      $FN
xclock*render:                    false
xclock*background:                $C0
xclock*foreground:                $C1
xclock*hands:                     $C1
xclock*majorColor:                $C1
xclock*minorColor:                $C1
xclock*highlight:                 $C1

Nsxiv.window.background:          $C0
Nsxiv.window.foreground:          $C1
Nsxiv.bar.font:                   $FN 
